<?xml version="1.0" encoding="utf-8"?>
<ruleset name="Application">
    <description>Coding standard</description>
    <!-- Paths to check -->
    <file>src</file>
    <file>app/slim</file>

    <!-- display progress -->
    <arg value="p" />

    <!-- use colors in output -->
    <arg name="colors" />

    <!-- inherit rules -->
    <rule ref="PSR2" />
    <rule ref="Generic.Arrays.DisallowLongArraySyntax" />
    <rule ref="Generic.Commenting.Todo" />
</ruleset>
