{% extends "_base.twig" %}

{% set noIndex = true %}
{% set refreshInSeconds = 10 %}

{% block title %}Oops, Seite nicht gefunden{% endblock %}

{% block headPrepend %}
    <meta http-equiv="refresh" content="{{ refreshInSeconds }}; url={{ router.pathFor('index') }}" />
{% endblock headPrepend %}

{% block content %}
    <h1 class="text-danger">Oops!?</h1>
    <p>Na, da hat was nicht geklappt. Die gewünschte Seite existiert gar nicht (mehr).</p>
    <p>Hier geht es <a href="{{ router.pathFor('index') }}">zurück zur Startseite</a></p>
{% endblock content %}
